.MuiCheckbox-root {
    color: rgba(255, 255, 255, 0.7) !important;
}
.LoginPage {
    color: #000000;
    text-decoration: none;
  }
  
  .RegisterPage {
    color: #000000;
    text-decoration: none;
  }
  
  .containLogin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#000000;
  }
  
  .cardLogin {
    background-color: #202020;
    position: relative;
    border: none;
    text-align: initial !important;
    white-space: normal  !important;
    display: inline-block !important;
    vertical-align: middle;
    max-width: 470px !important;
    min-width: 320px !important;
    width: 100% !important;
    margin-top: 150px;
  }
  
  .topMenu {
    background-color: #202020;
    height: 1.8em;
    position: absolute;
    top: -1.8em;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .bottomMenu {
    background-color: #202020;
    height: 3.3em;
    position: absolute;
    bottom: -3.3em;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
  .containCard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .containCardMenu {
    text-align: center;
      white-space: nowrap;
      height: 100%;
      margin: auto;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: env(safe-area-inset-top);
  }
  
  .containCard
  .containCardMenu ::before {
    text-align: center;
    white-space: nowrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: env(safe-area-inset-top);
  }
  
  .containCard
  .containCardMenu ::before {
    content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
  }
  
  
  .MuiOutlinedInput-input {
    padding: 18.5px 14px;
    background-color: #FFFFFF !important;
    margin: 5px  !important;
  }
  
  .inputName {
    background-color: #656565;
  }
  
  .inputPass {
    background-color: #656565;
    
  }
  
  #email.MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.54) !important;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
  }

  .MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #fff !important;
}

.MuiFilledInput-input {
    color: #FFFFFF !important;
}

.label.Mui-focused {
    color: 'green',
  }

.MuiInput-underline:after {
    border-bottom-color: 'green',
  }

.MuiFilledInput-underline:after {
     border-bottom: 2px solid #ffffff !important;
    }

.MuiInputLabel-filled.MuiInputLabel-shrink {
        color: #FFFFFF !important;
    }

    input:-internal-autofill-selected {
      -webkit-appearance: menulist-button;
      background-color: rgb(104, 104, 104) !important;
      background-image: none !important;
      color: -internal-light-dark-color(black, black) !important;
  }

