  
  .containerBarPhotoList {
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 500;
      background: #000000;
  }
  .textNavBar {
    color: beige;
    text-align:start ;
    margin-left: 50px;
  }
  
  @media (min-width: 600px){
  #PhotoList.barPhotoList {
      min-height: 64px;
      background-color: #000000;
  }
  }
  
  @media (min-width: 750px){
    .postPhotoList {
      grid-template-columns: repeat(2, 1fr);
  }
  }
  
  @media (min-width: 1421px){
    .postPhotoList {
      grid-template-columns: repeat(3, 1fr);
  }
  }
  
  @media (min-width: 1800px){
    .postPhotoList {
      grid-template-columns: repeat(4, 1fr);
  }
  }
  
  
  
  
  @media (min-width: 750px){
    .postPhotoList {
      grid-template-columns: repeat(2, 1fr);
  }
  }
  
  @media (min-width: 1421px){
    .postPhotoList {
      grid-template-columns: repeat(3, 1fr);
  }
  }
  
  @media (min-width: 1800px){
    .postPhotoList {
      grid-template-columns: repeat(4, 1fr);
  }
  }
  
  
  .makeStyles-title-3 {
    flex-grow: 1;
    text-align: start;
  }
  
  .containerPhotoList {
    position: fixed;
    height: auto;
    margin: 0;
    background-color: #FFFFFF;
    padding-left: 17px;
    padding-right: 17px;
    right: 0px;
    left: 0px;
    width: auto;
    top: 0px;
    bottom: 0px;
  
  }
  .bodyPhotoList { 
    height: inherit;
    width: auto;
    margin-top: 60px;
    background-color: #3f3f3f;;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
    overflow-x: hidden;
  }
  
  .bodyNoPhotoList {
    height: inherit;
    width: 1886px;
    margin-right: 17px;
    margin-left: 17px;
    margin-top: 60px;
    background-color: #0c0c0c;;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
  }
  
  .postPhotoList {
    display: grid;
    /* background-color: #000000; */
    grid-gap: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    
  }

  .postMyPhotoList {
    display: grid;
    /* background-color: #000000; */
    grid-gap: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    
  }

  .postNoPhotoList {
    width: 100%;
    margin-top: 192px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: absolute;
  }
  
  
  .MuiGridListTile-root {
    /* width: 450.250px !important;
    height: 291.766px !important; */
    width: auto !important;
    height:  auto !important;
    padding:  0 !important;
    /* padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important; */
    flex-shrink: 1 !important; 
  }
  
  .MuiGridList-root {
    overflow-y: hidden !important;
  
  }
  
  .photoContainerList {
    position: relative !important;
    background-color: #FFFFFF;
    
  }
  
  .MuiGridListTile-tile {
    width: 100% !important;
    padding: 0 !important;
  }
  
  .makeStyles-gridList-5 {
    width: 100% !important;
    height: 100% !important;
  
  }
  
  .MuiGridListTile-imgFullHeight {
    width: 100%;
  }
  
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #000000 !important;
  }
  
  .postPhotoNoData {
    width: 100%; 
    /* background-color: #000000; */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .title1{
    width: auto !important;
    flex-grow: 1;
  
  }
  
  .buttonLoginList {
    flex-grow: 1;
    color: #ffffff !important;
  
  }

.buttonRegister {
  color: #FFFFFF;
  }
  
  .link_menuPhotoList {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nameWebPhotoList {
    width: 131px;
    color: #FFFFFF;
  }


  .MuiButton-containedPrimary {
    color: #fff;
    background-color: #000000 !important;
    width: 80%;
  }
  
  
  
  .MuiButton-outlinedPrimary {
      color: #ffffff !important;
      border: 1px solid rgba(255, 255, 255, 0.5) !important;
      font-size: 25px !important;
  }

  .MuiGridListTile-imgFullWidth {
    height: 100%;
  }


.buttonUpload {
  color: rgba(255, 255, 255, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  width: 300px;
  background-color: #000000;
}

.LoginPagePhoto {
  color: #FFFFFF;
  text-decoration: none;
}

.RegisterPagePhoto {
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 600px){
.barPhotoList {
    min-height: 64px;
}
}


.makeStyles-title-3 {
  width: 46% !important;
}