.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: #000000;
}
.textNavBar {
  color: beige;
  text-align:start ;
  margin-left: 50px;
}

@media (min-width: 600px){
  .MuiToolbar-regular {
    min-height: 64px;
    background-color: #FFFFFF;
}
}

@media (min-width: 750px){
  .postPhoto {
    grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 1421px){
  .postPhoto {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 1800px){
  .postPhoto {
    grid-template-columns: repeat(4, 1fr);
}
}




@media (min-width: 1460px){
  .postPhotoGallery {
    grid-template-columns: repeat(2, 1fr);
}
}


@media (min-width: 1800px){
  .postPhotoGallery {
    grid-template-columns: repeat(4, 1fr);
}
}


.makeStyles-title-3 {
  flex-grow: 1;
  text-align: start !important;
}

.containerGallery {
  position: fixed;
  height: auto;
  margin: 0;
  background-color: #FFFFFF;
  padding-left: 17px;
  padding-right: 17px;
  right: 0px;
  left: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;

}
.bodyGallery { 
  height: inherit;
  width: 1886px;
  margin-right: 17px;
  margin-left: 17px;
  margin-top: 60px;
  background-color: #212121;;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
}

.bodyNoPhotoList {
  height: inherit;
  width: 1886px;
  margin-right: 17px;
  margin-left: 17px;
  margin-top: 60px;
  background-color: #0c0c0c;;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
}

.postPhoto {
  display: grid;
  /* background-color: #000000; */
  grid-gap: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 6px;
  
}


.MuiGridListTile-root {
  width: 450.250px !important;
  height: 291.766px !important;
  padding:  0 !important;
  /* padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important; */
}

.MuiGridList-root {
  overflow-y: hidden !important;

}

.photoContainer {
  position: relative !important;
  background-color: #FFFFFF;
  
}

.photoContainerGallery {
  position: relative !important;
  background-color: #212121;
  border-radius: 20px;
}
.MuiGridListTile-tile {
  width: 100% !important;
  padding: 0 !important;
}

.makeStyles-gridList-5 {
  width: 100% !important;
  height: 100% !important;

}

.MuiGridListTile-imgFullHeight {
  width: 100%;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #000000 !important;
}

.postGalleryNoData {
  width: 1866px; 
  /* background-color: #000000; */
  margin-top: 150px;
  margin-bottom: 10px;
}


.buttonLogin {
  flex-grow: 1;
  color: #000 !important;

}

.link_menu {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      font-size: 18px;
}

.nameWeb {
  width: 131px;
  color: #000000;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #000000 !important;
  width: 80%;
}


.MuiButton-outlinedPrimary {
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-size: 25px !important;
}

.myGallery {
  height: 95% !important;
  width: 91% !important;
}

.imageGallery {
  height: 86% !important;
  width: 76% !important;
}

.postMyPhotoGallery {
  /* height: 900px; */
  /* background-color: #000000; */
  grid-gap: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.postPhotoGallery {
  display: grid;
  /* height: 900px; */
  /* background-color: #000000; */
  grid-gap: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonSetting  {
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(255, 255, 255, 0) !important; 
 background-color: #ffffff00 !important;
 min-width: 31px !important;
 padding: 0px 5px !important;

}

#status.MuiInputLabel-filled.MuiInputLabel-shrink{
  color: #000000 !important;
}

.MuiGridListTileBar-root {
  position: inherit !important;
}

.ant-card-cover {
  margin-top: 10px !important;
}

.ant-card-cover > * {
  background-color: #212121 !important;
}

.ant-layout {
  background-color: #212121 !important;
}